.container {
  width: 45px;
  height: 25px;
  border: 1.5px solid #000;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 11px;
}

.ball {
  width: 15px;
  height: 15px;
  background-color: #466367;
  border-radius: 50%;
  position: absolute;
}
