.container {
  display: flex;
  align-items: center;
  gap: 100pm; /* 两个元素之间的间隔 */
}

.item {
  flex: 1; /* 两个元素平分容器宽度 */
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 36px;
  font-color: #17203e;
}

.img {
  object-fit: contain; /* 图片不变形 */
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(15px);
    transform: translateX(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.desc {
  font-size: 17px;
  font-weight: 300;
  font-color: #19282f;
  /*
  background: linear-gradient(to bottom, #adbbc3, #19282f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
}
